#root {
  min-width: 90vw;  
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: ridge 4px;
}

.navbar {
  display: grid;  
  grid-auto-flow: column;
  grid-column-gap: 10px;
  border: solid 1px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 30px;  
}

